
/*ALL PAGES*/

html,
body {
	font-family: "Nunito", "Arial";
	font-size: 14px;
	color: white;
	padding-top:50px;
}

/*overcomes issue for fixed background on mobile browsers*/
body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url(images/1.jpg) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

p {
	text-align: center;
}

/*HEADERS*/
div h1 {
	text-align: center;
	font-family: 'Pacifico', Helvetica, sans-serif;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
	margin-bottom: 20px;
}

/*NAVBAR STYLING*/

/*Navbar dropdown toggles on hover on desktop*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
	margin-bottom: 0;

}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin-bottom: 0;
	border-radius: 0;
		

}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav.navbar-nav {
	text-align: center;
	
}

.navbar-nav>li>a {
	color: white;
	margin: 15px 0;
    padding: 15px 25px;
    font-size:14px;
    font-weight: bold;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: transparent;
	color: #e7d506;
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

#dropdown-toggle {
	margin-bottom: 0;
}

ul.dropdown-menu {
	background-color: black	;
}

.dropdown-menu>li>a{
	background-color: black	;
	color: #e7d506;
	border:none;
	margin-bottom: 0;
}

button.navbar-toggle {
	border-color: white;
}

/* collapsed navbar on mobile */
button.navbar-toggle.collapsed {
	border-color: white;
}
/*'burger' colour*/
span.icon-bar {
	background-color: white;
}


/*FOOTER STYLING*/

.footer {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 270px;
	text-align: center;
}

/*social media icons w spin on hover*/
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

.social li {
	background: none repeat scroll 0 0 black;
	border: 2px solid #e7d506;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 12px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: white;
}
.social li:hover {
	border: 2px solid black;
	background: #e7d506;
}
.social li a i {
	font-size: 16px;
	margin: 0;
	color: white !important;
}



/*HOMEPAGE */

/*HOMEPAGE BACKGROUND IMAGE ROTATOR*/
#rotatorContainer {
	width: 100%;
	height: 400px;		
	position: relative;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 40px;
}	

#homeTitle{
	position: relative;
	top: 5px;
	width: 100%;
	height: 100%;
	text-align: left;
	color: #fff;
	font-family: 'Rock Salt', cursive;
	font-size: 34px;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
}

#homeTitle span{
	font-weight: bold;
}

#rotatorImg1{
	background-image: url(images/dj.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#rotatorImg2{
	background-image: url(images/sam_willows.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#rotatorImg3{
	background-image: url(images/gigkit.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*END OF IMAGE ROTATOR*/

#home-div{
	margin: 40px 0 40px 0;
	padding: 20px 5px 20px 5px;
	background-color: black;
	color: white;
}

#home-div h1,
#home-div h2 {
	text-shadow: none;
}

div h2 {
	font-family: "Nunito", "Arial";
	text-align: center;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
}

div p {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}	


#next-gig-div {
	margin: 30px 0 30px 0;
	padding: 0;
}

iframe {
	margin-top: 20px;
}

#next-gig-button {
	margin-right: auto;
	margin-left: auto;
}

/*BANDPAGE*/

span.bandpage-member-header{
	font-size: 30px;
	font-family: 'Rock Salt', cursive;
}

.hoverP {
	/*not visible on mobile & touchscreen devices*/
	display: none;
	color: #9d9d9d;
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

.bandpage-para-div {
	background-color: black;
	border-radius: 1px;
}

.bandpage-paragraphs {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
	padding-bottom: 10px;
}

.img-responsive {
	border-radius: 1px;
	width: 100%;
}

/*MUSIC PAGE*/

.music-page-images {
	margin-top: 20px;
	margin-bottom: 20px;
}


/*youtube player*/
div div div iframe  {
	border: 3px solid black;
}


/*GIGS PAGE*/

#gigs-header {
	text-align: center;
}

/*accordian */

.panel-default>.panel-heading {
	color: white;
	background-color:black;
	padding: 9px 5px 9px 5px;
	height: 35px;
}

div.panel-body {
	background-color:black;
}

div.panel-default.ng-scope.ng-isolate-scope.panel {
	border-radius: 0;
	margin: 20px 0px 20px 0px;
}

/*end of accordian*/

#gigs-page-image-grid {
	padding-top: 25px;
	display: none;
}

.field {
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

input {
	color: black;
	border: 1px solid black;
	padding: 2px;
}

p.help-block {
	text-align: left;
}

.btn-primary {
	background-color: #bb0607;
	border:none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #bb0607;
	color:  #e7d506;
}

/*CONTACT PAGE*/

/*contact us*/
 
#contact-div {
	background-color: black;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 25px;
}

#contact-div h4 {
	margin-top: 0;
}

#twitter-div {
	padding: 0;
}




/*twitter feed*/

#tweets-subheader {
	font-family: 'Rock Salt', cursive;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
	text-align: center;
}

#tweets-div ul {
	list-style: none;
	padding: 0px;
}

#tweets-div ul li {
	display: table;
	margin-bottom: 20px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

.user {
	display: table-cell;
	vertical-align: middle;
	width: 8%;
}

	.user img {
		border-radius: 50%;
		max-height: 70px;
		max-width: 70px;
		float: right;
	}

	/*remove twitter data we don't want to include*/
	.user span:nth-child(2) {
		display: none;
	}

	/*remove twitter data we don't want to include*/
	.user span:nth-child(3) {
		display: none;
	}

.tweet {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 5px;
	width: 48%;
	font-family: 'Rock Salt', cursive;
	font-size: 1em;
}

.timePosted {
	display: table-cell;
	vertical-align: middle;
	width: 10%;
	color: white;
	padding-right: 5px;
}

	.timePosted a {
		color: white;
		
	}

.interact {
  display: none;
}






/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/* Large desktops and laptops */
@media (min-width: 100%) {
/*// css specific properties col-lg-**/

	.nav>li>a:hover,
	.nav>li>a:active,
	.nav>li>a:focus,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover {
		text-shadow: none;
		
	}

	/*HOMEPAGE*/

	#homeTitle{
		font-size: 20px;
	}
	#homeTitle span{
		font-size: 20px;
	}


	/*BANDPAGE*/

	.hoverP {
		display: block;
		text-align: center;
		margin-top: 0px;
		color: white;
	}

	.bandpage-paragraphs{
		position: absolute;
		overflow: hidden;
		top: 0;
		opacity: 0;
		width: 46vw;
		height: 100%;
		padding: 80px 30px 0 30px;
	}

	.bandpage-image-container img {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.bandpage-image-container:hover img {
		-webkit-transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-filter:grayscale(1);
		-webkit-filter:brightness(0.3);
	}

	.bandpage-image-container:hover p {
		-webkit-transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		opacity: 1;
		-webkit-filter:brightness(1.5);
	}

	/*GIGS PAGE*/

	#gigs-page-image-grid {
		display: block;
	}


}
 
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/*// css specific properties col-md-**/

	.nav>li>a:hover,
	.nav>li>a:active,
	.nav>li>a:focus,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover {
		text-shadow: none;
	}

	/*HOMEPAGE*/

	.hide-small {
		display: block;
	}

	/*GIGSPAGE*/

	#gigs-page-image-grid {
		display: block;
	}

}
 
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/*// css specific properties col-sm-**/

	.nav>li>a:hover,
	.nav>li>a:active,
	.nav>li>a:focus,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover {
		text-shadow: none;
	}

	/*BANDPAGE*/
	img.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	/*CONTACT PAGE*/
	#contact-div {
		margin: 10px 5px 10px 5px;
	}

	#twitter-div {
		margin-left: 5px;
		margin-right: 5px;
	}

}
 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/*// css specific properties col-xs-**/

	/*HOMEPAGE*/

	#home-div{
		margin-right: 10px;
		margin-left:10px;
	}

	/*BANDPAGE*/
	img.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	/*CONTACT PAGE*/
	#contact-div {
		margin: 10px 5px 10px 5px;
	}

	#twitter-div {
		margin-left: 5px;
		margin-right: 5px;
	}

	.tweet {
		font-size: 0.8em;
	}

}
 
/* Portrait phones and smaller */
@media (max-width: 480px) {
/*// css specific properties col-xs-* or none for default*/

	.navbar-nav>li>a {
		margin: 0;
	    padding: 15px 25px;
	}

	/*ACCORDIAN ON GIGS PAGE*/
	.panel-default>.panel-heading {
		height: 45px;
		padding: 5px;
	}

	/*CONTACT PAGE*/
	#contact-div {
		margin: 10px 5px 10px 5px;
	}

	#twitter-div {
		margin-left: 5px;
		margin-right: 5px;
	}


}

h6{
	font-size:1.3em;
	color: black;
}

.main-page-logo{
	margin-top: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
  }
  .tagline{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .controls{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .button {
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-left:10px;
    cursor: pointer;
  }

.login {
    background-color: white;
    color: black;
    border: 1px solid ;
    border-radius: 5px
}

.signup {
    background-color: white;
    color: black;
    border: 1px solid ;
    border-radius: 5px
}


@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.profile 
{
    min-height: 355px;
	display: inline-block;
	background-color: black;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }

span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
/* Shared */
.loginBtn {
	box-sizing: border-box;
	position: relative;
	/* width: 13em;  - apply for fixed size */
	margin: 0.2em;
	padding: 0 15px 0 46px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px;
	color: #FFF;
  }
  .loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
  }
  .loginBtn:focus {
	outline: none;
  }
  .loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
	background-color: #4C69BA;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
	text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
	border-right: #364e92 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
	background-color: #5B7BD5;
	background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  /* Google */
.loginBtn--google {
	/*font-family: "Roboto", Roboto, arial, sans-serif;*/
	background: #DD4B39 6px 6px;
  }
  .loginBtn--google:before {
	border-right: #BB3F30 1px solid;
	background: url('/images/dj.https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc7uY5KD6SuajGW2xJ54BGHwYKpe-6FHqCUjEOrsaaHJpuEDVAPQjpg') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
	background: #E74B37;
  }

  h5 {
	  color: black;
  }

  main {
    padding-top: 30px;
}

header .navbar {
    border-radius:0;
}

.show-hide-message.ng-hide-remove {
    -webkit-animation:zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}

.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}

@keyframes spin {
    from { transform:rotate(0deg);}
    to { transform:rotate(360deg);}
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform:rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

.fade {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}









/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

   .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: transparent;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

 
}

/* 
	Ok so you have made it this far, that means you are very keen to on my code. 
	Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)
	Follow me @ihatetomatoes
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);



.loader10 {
  position: relative;
  margin: auto;
  width: 350px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 250%;
  background: linear-gradient(180deg, #222 0, #444 100%);
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.loader10:after {
  content: "";
  display: table;
  clear: both;
}

span1 {
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
}

.loader10 > span1 {
  border-left: 1px solid #444;
  border-right: 1px solid #222;
}

.covers {
  position: absolute;
  height: 100%;
  width: 100%;
}

.covers span1 {
  background: linear-gradient(180deg, white 0, #ddd 100%);
  animation: up 2s infinite;
}

@keyframes up {
  0%   { margin-bottom: 0; }
  16%  { margin-bottom: 100%; height: 20px; }
  50% { margin-bottom: 0; }
  100% { margin-bottom: 0; }
}

.covers span1:nth-child(2) { animation-delay: .142857s; }
.covers span1:nth-child(3) { animation-delay: .285714s; }
.covers span1:nth-child(4) { animation-delay: .428571s; }
.covers span1:nth-child(5) { animation-delay: .571428s; }
.covers span1:nth-child(6) { animation-delay: .714285s; }
.covers span1:nth-child(7) { animation-delay: .857142s; }

.table th,td {
	color: black;
  }

  .showmore {
	  display: inline;
  }



  div h3 {
	  color: white;
	  font-size: 0.9em;
  }

  .entry-header {
	position: relative;
    text-align: center;
    margin: 0 auto 50px auto;
    width: 80%;
    max-width: 978px;
   
	z-index: 10001;
	animation-duration: 1.5s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
	
  }
  #demo-content {
    padding-top: 80px;
  }
  h7 {
    height: 100%;
    font-size: 100px;
        margin-bottom: 3px;
        margin: 0;
	 color: white;
	 font-family: 'Great Vibes', Helvetica, sans-serif;

 
  }
  @keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.list-group-item.ng-enter.ng-enter-active,
.list-group-item.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.list-group-item.ng-leave.ng-leave-active,
.list-group-item.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}



.thumbnail {
	background-color: black;
	align-content: center;
	/* margin: 0;
	padding: 10px 10px 0 10px;
	border-bottom: 1px dotted black; */
	opacity: .9;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }

  .thumbnail:hover {
	background: rgb(32, 32, 31);
	opacity: 1;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
  }
  