
<!DOCTYPE html>
<html lang="en">
  <head>
      <base href ="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/animate.css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>GigKit</title>
    

  </head>

  <body class = "demo" ng-app="userApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>



  <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  
    <!-- Demo content -->			
    <div id="demo-content">
  
      <header class="entry-header">

  
        <h7 class="entry-title">Welcome to GigKit</h7>
      </header>
  
      <div id="loader-wrapper">
        <div id="loader"></div>
  
        <div class="loader-section section-left"></div>
              <div class="loader-section section-right"></div>
  
      </div>
  
    
    <!-- /Demo content -->
    
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
      <script src="app/main.js"></script>
 
      <div  class="fade" ng-view></div>
      
    

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" ng-click="main.endSession()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Logging Out</h4>
              </div>
              <div class="modal-body">
                <h1>Logging Out</h1>
                  <div class="loader10" ng-show="main.hideButton">
                    <span1>L</span1>
                    <span1>O</span1>
                    <span1>A</span1>
                    <span1>D</span1>
                    <span1>I</span1>
                    <span1>N</span1>
                    <span1>G</span1>
     
                    
                    <div class="covers">
                      <span1></span1>
                      <span1></span1>
                      <span1></span1>
                      <span1></span1>
                      <span1></span1>
                      <span1></span1>
                      <span1></span1>
                    </div>
                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-hide="main.hideButton" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
 

  </body>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="bower_components/dist/booking.js"></script>
  <script src="bower_components/filepicker-js/filepicker.js"></script>
  <script src="bower_components/angular-filepicker/dist/angular_filepicker.js"></script>
  <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl4veOgYsL19aJ0IPbLGWbRGx9im7tUU8"
  async defer></script>
<!---Angular Files -->

  <script src="app/app.js"></script>
  <script src="app/routes.js"></script>
  <script src="app/controllers/bookController.js"></script>
  <script src="app/controllers/deleteGigController.js"></script>
  <script src="app/controllers/detailController.js"></script>
  <script src="app/controllers/addGigController.js"></script>
  <script src="app/controllers/addSuperheroController.js"></script>
  <script src="app/controllers/deleteController.js"></script>
  <script src="app/controllers/managementCtrl.js"></script>
  <script src="app/controllers/galleryController.js"></script>
  <script src="app/controllers/gigCtrl.js"></script>
  <script src="app/controllers/homeCtrl.js"></script>
  <script src="app/controllers/usersCtrl.js"></script>
  <script src="app/controllers/mainCtrl.js"></script>
  <script src="app/services/userServices.js"></script>
  <script src="app/services/authServices.js"></script>
</html>
