<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>

<div>
        <h1>User Login</h1>
    </div>
    <div class="login-panel container">
        <div class="col-md-4 col-md-offset-4 panel panel-default">

    <form ng-submit="main.doLogin(loginData);" class="gap margin-base-vertical">
        <p class="input-group ">
      
        <span class="input-group-addon"><span class="icon-envelope"></span></span>
        <input autofocus class ="form-control input-lg" type="text" name="username" placeholder="please enter username" ng-model="main.loginData.username">
        
        </p>
        <p class="input-group ">
        <span class="input-group-addon"><span class="icon-envelope"></span></span>
        <input class ="form-control input-lg" type="password" name="password" placeholder="please enter password" ng-model="main.loginData.password">
        </p>
        <p class="text-center">
        <button class ="btn btn-success btn-md" type="submit">Login</button>&nbsp
       <button type="button" class="loginBtn loginBtn--facebook" ng-click="main.facebook()">Facebook</button></a>
        </p>
    </form>
    <br>

    <div class ="jumbotron text-center" ng-show="main.loading">
        <span class ="glyphicon glyphicon-repeat spinner"></span>
        <p>loading....</p>
    </div>
    
    
    <div class = "row show-hide-message" ng-show="main.successMsg">
        <div class ="alert alert-success">{{main.successMsg}}</div>
    </div>
    
    <br>
    
    <div class = "row show-hide-message" ng-show="main.errorMsg">
        <div class ="alert alert-danger">{{main.errorMsg}}</div>
    </div>

    <div class = "row show-hide-message" ng-show="facebook.errorMsg">
        <div class ="alert alert-danger">{{facebook.errorMsg}}</div>
    </div>

    <br>
    <br>
    <div class="gap margin-base-vertical">
            <h5 align="center">Don't have an account? <a href="/register">Create one</a></h5>
        </div>
</div>
</div>