<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>

<div>
    <h1>Registration</h1>
</div>
<div class="signup-panel container">
        <div class="col-md-4 col-md-offset-4 panel panel-default">
<form name="regForm" ng-submit="register.regUser(regData);" novalidate class="signup-form margin-base-vertical">
    <div ng-class= "{ 'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted)}">
        
        <p class="input-group">
        <span class="input-group-addon"><span class="icon-user"></span></span>
        <input class="form-control input-lg"type="text" name="name" placeholder="please enter name" ng-model="register.regData.name" ng-pattern= "/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/" ng-min-length="3" ng-maxlength="50" required>
    </p>
    <p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This field is required</p>
        <ul class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)">
            <li>Must have a space in between first and last name</li>
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 3 characters but no more than 50</li>
        </ul>
       
    </div>
    <br>
    <div ng-class= "{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted || register.emailInvalid)}">
            <p class="input-group">
            <span class="input-group-addon"><span class="icon-user"></span></span>
    <input class="form-control input-lg" type="text" name="email" placeholder="please enter email" ng-model="register.regData.email" ng-pattern= "/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" ng-min-length="3" ng-maxlength="50" required ng-blur="register.checkEmail(regData)">
    </p>
    <p class = "form-text" ng-show="register.emailMsg"> {{ register.emailMsg}}</p>
    <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
    <ul class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)">
            <li>Must contain "@"</li>
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 50</li>
        </ul>
    </div>
    <br>
    <div ng-class= "{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine &&  !register.usernameInvalid), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid}">
            <p class="input-group">
                    <span class="input-group-addon"><span class="icon-user"></span></span>
    <input  class="form-control input-lg" type="text" name="username" placeholder="please enter username" ng-model="register.regData.username" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-min-length="3" ng-maxlength="50" ng-blur="register.checkUsername(regData)" required>
    </p>
    <p class = "form-text" ng-show="register.usernameMsg"> {{ register.usernameMsg}}</p>
    <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required</p>
    <ul class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)">
            <li>Must not contain any special characters or spaces</li>
            <li>Must be at least 3 characters but no more than 50</li>
        </ul>
    </div>
    <br>
    <div ng-class= "{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted)}">
            <p class="input-group">
                    <span class="input-group-addon"><span class="icon-user"></span></span>
    <input  class="form-control input-lg" type="password" name="firstPassword" placeholder="please enter password" ng-model="firstPassword" ng-min-length="8" ng-maxlength="35" required ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/">
    </p>
    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
    <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
         <li>Must contain at least one upper case letter</li>
         <li>Must contain at least one lower case letter</li>
         <li>Must contain at least one number</li>
         <li>Must contain at least one special character</li>
         <li>Must contain at least 8 characters but no more than 35</li>
        </ul>
    </div>
    <br>
    <div ng-class= "{ 'has-success': confirmed && !regForm.confirmPassword.$pristine, 'has-error': (!confirmed && !regForm.confirmPassword.$pristine) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine)}">
        <p class="input-group">
                <span class="input-group-addon"><span class="icon-user"></span></span>
<input  class="form-control input-lg" type="password" name="confirmPassword" placeholder="Confirm your password"  match = "{{[firstPassword]}}" ng-change="register.regData.password = confirm" ng-model="confirm" required>
</p>
<p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
<p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
</div>
<br>
    <p class="help-block text-center">
            <small>We hate spams, so don't worry</small>
          </p>
          <p class="text-center">
    <button class ="btn btn-success btn-md" type="submit" ng-disabled="register.disabled">Create Account</button>
    </p>
</form>
<br>
<div class="signup-element margin-base-vertical">
        <h5 align="center">Already have an account? <a href="/login">Login</a></h5>
    </div>
<div class ="jumbotron text-center" ng-show="register.loading">
    <span class ="glyphicon glyphicon-repeat spinner"></span>
    <p>loading....</p>
</div>


<div class = "row show-hide-message" ng-show="register.successMsg">
    <div class ="alert alert-success">{{register.successMsg}}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show="register.errorMsg">
    <div class ="alert alert-danger">{{register.errorMsg}}</div>
</div>

</div>
</div>