<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
</div>
<div>
	<h1>User Management</h1>
</div>

<br>
<div class ="jumbotron text-center" ng-show="management.loading">
	<span class ="glyphicon glyphicon-repeat spinner"></span>
	<p>loading....</p>
</div>

<br>


<div class = "container">
			
				<div class ="showmore">
		
		<div class ="navbar-form">
				<div class "col-xs-2">
						<div class = "input-group">
					<span class="input-group-addon">Search  :  </span>
				<input type ="text" class ="form-control" name="search" placeholder="searching for" ng-model="searchKeyword">
				</div>
				</div>
				<br>
				<div class "col-xs-2">
						<div class = "input-group">
							<span class="input-group-addon">Results :</span>
							<input type= "text" class = "form-control" ng-model="number" placeholder="enter a valid number">
						</div>
						</div>
						<br>
				<button type ="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button>
				<button type ="button" ng-click="management.showAll();" class="btn btn-danger">Show All</button>
			</div>
		</div>
		
		<br>
		<br>
	<div class="panel panel-primary">
		<div class ="panel-heading">
			
		<strong>User Management</strong>
	</div>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Permission</th>
		</tr>
		<tr ng-repeat ="person in management.users | filter: searchKeyword | limitTo: management.limit">
			<td>{{ person.name }}</td>
			<td>{{ person.username }}</td>
			<td>{{ person.email }}</td>
			<td>{{ person.permission}}</td>
			<td>
				<a href ="/edit/{{person._id}}"><button type="button" ng-show="management.editAccess"class = "btn btn-info">Edit</button></a>
				<button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class = "btn btn-danger">Delete</button>
			</td>
		</tr>
	</table>


<div class = "row show-hide-message" ng-show="management.successMsg">
	<div class ="alert alert-success">{{main.successMsg}}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show="management.errorMsg">
	<div class ="alert alert-danger">{{main.errorMsg}}</div>
</div>

</div>
</div>
