<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>


<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">
                <span class="glyphicon glyphicon-user"></span>Artist Form
            </h2>
        </div>
        <div class="panel-body">
            <!-- The form to add superheroes information -->
            <form name ="addForm" novalidate>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" placeholder="BigStreet Boys" ng-model="superhero.name" required>
                </div>

                <label class="radio control-label">Type</label>
                <div class="radio" >
                    <label>
                        <input type="radio" name="optionsRadios" value="Solo" ng-model="superhero.gender" >
                        Solo
                    </label>
                </div>
                <div class="radio" >
                    <label>
                        <input type="radio" name="optionsRadios" value="Group" ng-model="superhero.gender" required>
                        Group
                    </label>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" placeholder="Group of boys with Jazz instrument and Singing" ng-model="superhero.superPowers" required>
                </div>
                <div class="form-group">
                    <label for="picture">Main picture</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-default" ng-click="upload()">
                            Upload <span class="caret"></span>
                        </button>
                        <div style="margin-top:10px;">
                            <!-- Show the thumbnail only when the picture is uploaded -->
                            <a href="{{superhero.picture.url}}" class="img-thumbnail" ng-if="superhero.picture">
                            <!-- the picture is rendered with width: 500 and sharpened -->
                            <img ng-src="{{superhero.picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>                  
                    </div>
                </div>
                <div class="form-group">
                    <label for="picture">More pictures? (Max 3, optional!)</label>
                    <div class="text-center">
                    <button type="button" class="btn btn-default" ng-click="uploadMultiple()">
                    Upload <span class="caret"></span>
                    </button>
                    <!-- Show the thumbanil of more pictures -->
                        <div style="margin-top:10px;" ng-repeat="picture in superhero.morePictures">     <div class="col-md-{{12 / superhero.morePictures.length}}">
                            <a href="{{picture.url}}" class="thumbnail">
                              <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>  
                    </div>
                    </div>
                </div>
                <hr />              
                <button type="submit" class="btn btn-danger btn-block" ng-click="createSuperhero()" ng-disabled="superhero.$invalid || !superhero.picture">Submit</button>             
            </form>
        
        </div>
    </div>
</div>