<div>
        <ng-include src="'app/views/nav.html'"></ng-include>
        </div>
    
    
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">
                    <span class="glyphicon glyphicon-user"></span>Gig Form
                </h2>
            </div>
            <div class="panel-body">
             
                <form name ="addForm" novalidate>
                
                    <div class="form-group">
                        <label for="description">City Name</label>
                        <input type="text"  class="form-control" placeholder="Singapore" ng-model="gig.city" required>
                    </div>
    
                    <div class="form-group">
                        <label for="description">Venue Name</label>
                        <input type="text" class="form-control" placeholder="Eg:Timbre" ng-model="gig.venue" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Date</label>
                        <input type="text" class="form-control" placeholder="DD/MM/YYYY" ng-model="gig.date" required>
                    </div>

                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Find Geolocation</button>
                    <!-- <div class="text-center"><a ng-href="/map" class="btn btn-success" role="button">Find map geo ID</a> </div> -->
                    <div class="form-group">
                        <label for="description">Longtitude</label>
                        <input type="text"  class="form-control" placeholder="lon" ng-model="gig.lon" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Latitude</label>
                        <input type="text"  class="form-control" placeholder="lat" ng-model="gig.lat" required>
                    </div>

                    <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" placeholder="Band Needed" ng-model="gig.details" required>
                        </div>

                    <div class="form-group">
                        <label for="description">Compensation</label>
                        <input type="text" class="form-control" placeholder="$$$" ng-model="gig.compensation" required>
                    </div>
                
                    <div class="form-group">
                        <label for="description">Duration</label>
                        <input type="text" class="form-control" placeholder="3 hrs?" ng-model="gig.duration" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Contact</label>
                        <input type="text" class="form-control" placeholder="Phonenumber or email" ng-model="gig.contact" required>
                    </div>
                
                  
                   
                         <div>
                    <button type="submit" class="btn btn-danger btn-block" ng-click="createGig()" ng-disabled="gig.$invalid">Submit</button>             
                    <br>    
                   </div>
                  
                   <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    <div class="login-panel container">
                            <div class="col-md-4 col-md-offset-4 panel panel-default">
                                    <form class="gap margin-base-vertical">
                           <input id="address" type="text" placeholder="Enter address here" />
                           <button id="btn" class="btn btn-success">Get Geocode!</button>
                           <div>
                           
                               <h5>Longitude:
                                   <input class = "input-group" type="text" id="longitude"  />
                               </h5>
                               <h5>Latitude     :
                                    <input class = "input-group" type="text" id="latitude"  oncopy />
                                </h5>
                           </div>
                        </div>
                    </div>
                    </form>
                       <!-- <map center="[{{latitude}},{{longitude}}]" zoom="16">
                            
                        <marker position='[{{latitude}},{{longitude}}]' visible="true" >
                                      </marker>
                                    
                                    </map>
                                    </div>
                                    </div> -->
                                    
                 
                    </div>
                </form>
            
            </div>
        </div>
    </div>
    <script>
            /* This showResult function is used as the callback function*/
         
         function showResult(result) {
             document.getElementById('latitude').value = Number(result.geometry.location.lat());
             document.getElementById('longitude').value = Number(result.geometry.location.lng());
         }
         function ClipBoard() 
         {
         holdtext.innerText = copytext.innerText;
         Copied = holdtext.createTextRange();
         Copied.execCommand("Copy");
         }
         
         function getLatitudeLongitude(callback, address) {
             // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
             address = address || 'Ferrol, Galicia, Spain';
             // Initialize the Geocoder
             geocoder = new google.maps.Geocoder();
             if (geocoder) {
                 geocoder.geocode({
                     'address': address
                 }, function (results, status) {
                     if (status == google.maps.GeocoderStatus.OK) {
                         callback(results[0]);
                     }
                 });
             }
         }
         
         var button = document.getElementById('btn');
         
         button.addEventListener("click", function () {
             var address = document.getElementById('address').value;
             getLatitudeLongitude(showResult, address)
         });</script>

