<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>

<div class="text-center"><a ng-href="/gallery" class="btn btn-danger" role="button">Return to Gallery</a> </div><br>

  <div class="container-fluid">
        <div class='row'>
          <div class='text-center'>
            <img src="../../assets/css/images/deleted.jpg">
      
          </div>
      
          
     
  
          </div>
        </div>
    