<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>

<div class="text-center"><a ng-href="/gigs" class="btn btn-danger" role="button">Return to Gigs</a> </div><br>

  <div class="container-fluid">
        <div class='row'>
          <br>
          <br>
          <br>
          <div class='text-center'>
            <h1>Event has been deleted</h1>
          </div>
      
          
     
  
          </div>
        </div>
    