<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>


<!-- View the details of a superhero -->
<!-- <div class="col-md-8 col-md-offset-2"> -->

        <!-- <div class="panel-heading">
            <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> Artiste Profile</h2>
        </div> -->
        <div class="container">
                <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile">
            <img ng-src="{{superhero.data.picture.url | fpConvert: {filter:'sharpen', w:500} }}" />
            <h2>{{superhero.data.name}}</h2>
            <hr />
            <p class="text-left"><label>Type </label> {{superhero.data.gender}}</p>
            <p class="text-left"><label>Description: </label> {{superhero.data.superPowers}}</p>
            <!-- Only if there are other pictures -->
            <div ng-if="superhero.data.morePictures">
                <h3> More Pictures <h3>
                <div ng-repeat="picture in superhero.data.morePictures">
                    <div class="col-md-{{12 / superhero.morePictures.length}}">
                        <a ng-href="{{picture.url}}" class="thumbnail">
                       <img ng-src="{{picture.url | fpConvert: {filter:'sharpen', w:500} }}">
                        </a>
                    </div>
                </div>
           
            </div>
            <a ng-href="/gallery" class="btn btn-danger" type="button">back</a>
        </div>
      

</div>
</div>
</div>
