<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>

<div class="container-fluid">
        <div class="row">
          <div class="col-md-12" id ="gigs-header">
            <h1>Talents</h1>

            <div class="text-center"><a ng-href="/addArtist" class="btn btn-success" role="button">Add new artist</a> </div>
            <br>
            <br>
            <label class="field" for="searchBox" class="field">Search for artist    </label>
            <input class="text-center" type="text" ng-model="searchBox" placeholder="Enter name or details">
          
          
        </div>
        </div>
      </div>
<br>
      <!-- view the gallery of all the superheroes in the db -->
<div class="row">
  <div ng-repeat="superhero in superheroes.data | filter: searchBox">
      <div class="col-md-4 col-xs-6 col-sm-offset-0">            
      <div class="thumbnail">
        <img ng-animate="animate" class="list-group-item" ng-src="{{superhero.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
        <div class="caption text-center">
          <h3>{{superhero.name}}</h3>
          <h3>{{superhero.gender}}</h3>
          <div class="text-center"><a ng-href="/book/{{superhero._id}}" class="btn btn-success" role="button">Book</a> 
          <a ng-href="/detail/{{superhero._id}}" class="btn btn-default" role="button">View</a> 
          <!-- <button type="button" ng-click="gallery.delete(superhero._id);" class = "btn btn-danger">Delete</button> -->
          <a ng-href="/delete/{{superhero._id}}" class="btn btn-danger" role="button">Delete</a> </div>
        </div>
      </div>
      </div>  
  </div>
  </div>
      
      <!-- <div class="container-fluid">
        <div class='row'>
          <div class='col-md-6 bandpage-image-container'>
            <img src="../../assets/css/images/sam_willows_group.jpg" class="img-responsive bandpage-image">
            <div class="bandpage-para-div">
              <p class="bandpage-paragraphs"><span class="bandpage-member-header">Sam Willows</span></br>
                Formed in mid-2012, The Sam Willows are made up of siblings Benjamin and Narelle Kheng and their friends Sandra Riley Tang and Jon Chua.
              </p>
            </div>
          </div>
      
          <div class='col-md-6 bandpage-image-container'>
            <img src="../../assets/css/images/nathan.jpg" class="img-responsive bandpage-image">
            <div class="bandpage-para-div">
              <p class="bandpage-paragraphs"><span class="bandpage-member-header">Nathan Hartono</span></br>
                Nathan Hartono has gotten a lot more attention since he became the first runner-up in the first season of reality contest television programme, Sing! China. “It has become a little harder to live a normal life,” he quips, but new music and upcoming roles in a musical and a movie mean the debonair 26-year-old is embracing the new status quo. Who would have guessed that he once thought performing on a stage was “an impossible thing to do”? But he held on to this dream. “If the past five years has shown us anything, Singaporeans are finding their unique voice in the arts. Soon it will get so loud, the world won’t be able to ignore it,” he enthuses. When he is resting his voice, he cooks, travels, gets silly with his adorable Shih Tzu, Nicky, and trains his professional fighting skills.
              </p>
            </div>
          </div>
        </div>
      
        <div class='row'>
          <div class='col-md-6 bandpage-image-container'>
            <img src="../../assets/css/images/EJ.jpg" class="img-responsive bandpage-image">
            <div class="bandpage-para-div">
              <p class="bandpage-paragraphs"><span class="bandpage-member-header">EJ Missy</span></br>
                Another familiar face in the circuit, EJ not only handles marketing for kyō (one of our fave clubs in SG), but she also helms its decks as resident DJ. When she’s not opening for the international likes of Rødhåd and Paul Woolford, EJ runs her MODAL nights on Wednesdays, where she shines the spotlight on both upcoming and veteran DJs. She’s even spun house and techno marathons that last for six hours – such endurance!
              </p>
            </div>
          </div>
      
          <div class='col-md-6 bandpage-image-container'>
            <img src="../../assets/css/images/gurmit.jpg" class="img-responsive bandpage-image">
            <div class="bandpage-para-div">
              <p class="bandpage-paragraphs"><span class="bandpage-member-header">Gurmit Singh</span></br>
                Making his debut in the variety show Live on 5 in 1994, he then became the host and lead actor of sitcom Gurmit's World. The second season of Gurmit's World, in which Gurmit portrayed his 'relatives' in a series of skits (unlike the first season where he played a wide assortment of mostly non-recurring characters), featured the first appearance of a character named Phua Chu Kang. The Singlish-based spin-off sitcom Phua Chu Kang Pte Ltd in 1996 made Gurmit a popular icon in the recent years, not only in Singapore, but also in neighbouring countries (especially culturally similar Malaysia). This factor led him to be the host of Singapore Idol. In the past few years, Gurmit has also won the Top 10 Most Popular Male Artistes at the Star Awards.
              </p>
            </div>
          </div>
        </div>
      </div>  -->