<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="gigs-header">
                <h1>Upcoming Gigs</h1>
                <div class="text-center"><a ng-href="/addGig" class="btn btn-success" role="button">Add new gig</a> </div>

               <br>
                <br>
                <label for="searchBox" class="field">Search for gigs near you </label>
                <input type="text" ng-model="searchBox" placeholder="Enter city name or venue">
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="accordion-container">
    
                <uib-accordion close-others="oneAtATime">
    
                    <div uib-accordion-group class="panel-default"  ng-repeat="group in group.data | filter:searchBox">
                        <uib-accordion-heading>
                            {{group.date}}  -  {{group.city}} - {{group.venue}} <i class="pull-right glyphicon glyphicon-chevron-down"></i>
                        </uib-accordion-heading>
                        <h3>Details     :   {{group.details}}</h3>
                        <h3>Compensation:   {{group.compensation}}</h3>
                        <h3>Duration    :   {{group.duration}}</h3>
                        <h3>Contact     :   {{group.contact}}</h3>
                        
                        <div class='btn-group'>
                            <a ng-href="/deleteGig/{{group._id}}" class="btn btn-danger pull-right" role="button">Delete</a></div>
                        <!-- <iframe ng-src="{{group.map}}" style="width: 100%; height: 400px" frameborder="0" marginheight="0" marginwidth="0"></iframe> -->
                        
                        <br>
                        <br>
                        <br>
                        <map center="[{{group.lat}},{{group.lon}}]" zoom="17">
                            
                        <marker position='[{{group.lat}},{{group.lon}}]' visible="true" >
                                      </marker>
                                    
                                    </map>
                    </div>
                        </div>
                    </div>
                </uib-accordion>
    
            </div>
        </div>
    </div>
    