
<div>
	<ng-include src="'app/views/nav.html'"></ng-include>
	</div>


<div>
    <h1>Hello! {{main.username}} </h1>
</div>
<div id="rotatorContainer">
    <div id="rotatorImg1"></div>
    <div id="rotatorImg2"></div>
    <div id="rotatorImg3"></div>
</div>
<div class="container-fluid" id="home-div">
	<h1>Getting our gigs together</h1>

	<p>
		A platform to find and broadcast gigs and talents
	</p>
	
</div>
<!-- 
<div class="container-fluid" id="next-gig-div">
	<h1>Next Gig</h1>
	<h1>{{nextGigDate}}</h1>
	<h1>{{nextGigCity}}, {{nextGigVenue}}</h1> -->
	<!-- <h2>{{nextGigVenue}}</h2> -->
	<!-- <iframe ng-src="{{nextGigMap}}" style="width: 100%; height: 400px" frameborder="0" marginheight="0" marginwidth="0"></iframe>

</div> -->

