<div>
        <ng-include src="'app/views/nav.html'"></ng-include>
        </div>
<!-- To use Geocoding from Google Maps V3 you need to link https://maps.googleapis.com/maps/api/js?sensor=false -->
<div><h1> Enter an address or postal code</h1></div>
<div class="login-panel container">
        <div class="col-md-4 col-md-offset-4 panel panel-default">
                <form class="gap margin-base-vertical">
       <input id="address" type="text" placeholder="Enter address here" />
       <button id="btn" class="btn btn-success">Get Geocode!</button>
       <div>
           <h5>Latitude     :
               <input class = "input-group" type="text" id="latitude"  oncopy />
           </h5>
           <h5>Longitude:
               <input class = "input-group" type="text" id="longitude"  />
           </h5>
       </div>
</form>
   <!-- <map center="[{{latitude}},{{longitude}}]" zoom="16">
        
    <marker position='[{{latitude}},{{longitude}}]' visible="true" >
                  </marker>
                
                </map>
                </div>
                </div> -->
                
   <script>
   /* This showResult function is used as the callback function*/

function showResult(result) {
    document.getElementById('latitude').value = result.geometry.location.lat();
    document.getElementById('longitude').value = result.geometry.location.lng();
}
function ClipBoard() 
{
holdtext.innerText = copytext.innerText;
Copied = holdtext.createTextRange();
Copied.execCommand("Copy");
}

function getLatitudeLongitude(callback, address) {
    // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
    address = address || 'Ferrol, Galicia, Spain';
    // Initialize the Geocoder
    geocoder = new google.maps.Geocoder();
    if (geocoder) {
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                callback(results[0]);
            }
        });
    }
}

var button = document.getElementById('btn');

button.addEventListener("click", function () {
    var address = document.getElementById('address').value;
    getLatitudeLongitude(showResult, address)
});</script>
</div>
<!-- <script>
var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var mapOptions = {
    zoom: 8,
    center: latlng
  }
  map = new google.maps.Map(document.getElementById('map'), mapOptions);
}

function codeAddress() {
  var address = document.getElementById('address').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<body onload="initialize()">
<div id="map" style="width: 320px; height: 480px;"></div>
<div>
  <input id="address" type="textbox" value="Sydney, NSW">
  <input type="button" value="Encode" onclick="codeAddress()">
</div>
</body> -->