    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
		  <!-- <div class="navbar-header">
			  <h3 id="homeTitle">GIG<span>KIT</span></h3>
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">        
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
		  </div> -->
		  <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			  <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a></li>
			  <li><a ng-show="main.isLoggedIn" href="/gallery"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> FIND TALENT</a></li>
			  
				  <li><a ng-show="main.isLoggedIn" href="/gigs"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> FIND GIGS</a></li>
			  <li><a ng-show="!main.isLoggedIn" href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  LOGIN</a></li>
				<li><a ng-show="!main.isLoggedIn" href="/register"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  REGISTER</a></li>
				<li><a ng-show="main.authorized && main.isLoggedIn" href="/management"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> MANAGEMENT</a></li>
				
				<li><a ng-show="main.isLoggedIn"href="#" ng-click="main.logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
				  <li><a ng-show="main.isLoggedIn" href="/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ main.username }}</a></li>
			</ul>
		  </div><!--/.nav-collapse -->
		</div>
	  </nav>